*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box; 
} 

body{
    width: 100vw;
    height: 100vh;
}

p,
h1{
    color: #fdfdfd;
}

main{
    width: 100vw;
    height: 100vh;
    background-image: url(/img/bg-intro-desktop.png);
    background-color: rgb(226, 80, 80);
    display: flex;
    align-items: center;
}

.texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 3rem;
}

.texto h1{
    font-size: 53px;
    margin-bottom: 2rem;
}

.texto p{
    font-size: 18px;
}

.cadastro{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#free{
    background-color: rgb(84, 59, 172);
    color: #fdfdfd;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 4px;
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(134, 132, 132);
    width: 70%;   
    height: 45px;
    font-size: 16px;
}

#free:hover{
    background-color: rgb(82, 47, 211);
}

.form{
    margin: 0.5rem auto;  
    background-color: #fdfdfd;
    padding: 30px 25px 30px 25px;
    border-radius: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    display: flex;
    width: 100%;
    height: 45px;
    border-radius: 5px;
    font-size: 0.9rem; 
    padding: .8rem;
    margin-bottom: 10px;
    border: 1px solid rgb(134, 132, 132);
}

#send{
    background-color: rgb(2, 203, 106);
    text-transform: uppercase;
    color: #fdfdfd;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 4px;
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(134, 132, 132);
    width: 70%;   
    height: 45px;
}

#send:hover{
    background-color: rgb(8, 141, 77);
}

#footer{
    color: rgb(134, 132, 132);
    font-size: x-small;
    margin: .5rem;
}

span{
    color: rgb(169, 1, 1);
}


@media (max-width: 1080px) {
    #send{
        padding: 0.5rem 3rem;
    }
}

@media (max-width: 1002px) {

    #free{
        padding: 0.4rem 3rem;
    }

    #send{
        padding: 0.4rem 3rem;
    }
}

@media (max-width: 950px) {

    #free{
        padding: 0.3rem 2rem;
    }

    #send{
        padding: 0.3rem 2rem;
    }
}

@media (max-width: 950px) {

    #send{
        padding: 0.1rem 1rem;
    }
}

@media (max-width: 769px) {
    
    main{
        flex-direction: column; 
        /* height: 70rem; */
        background-image: url(/img/bg-intro-mobile.png);
    }

    #send{
      font-size: 10px;
    }

}

@media (max-width: 738px) {
    
    .texto h1{
        font-size: 50px;
    }
}

@media (max-width: 715px) {
    
    .texto h1{
        font-size: 40px;
    }
}

@media (max-width: 697px) {
    
    main{
        height: 80rem;
    }

    #free{
        font-size: 14px;
    }

    #send{
        font-size: 9px;
    }
}

@media (max-width: 636px) {
    
    main{
        height: 60rem;
    }

    .texto h1{
        font-size: 39px;
    }

    .texto p{
        font-size: 16px;
    }

    #free{
        font-size: 15px;
    }

    #send{
        font-size: 9px;
    }

}

@media (max-width: 628px) {
    
    main{
        height: 65rem;
    }

    .texto h1{
        font-size: 35px;
    }

    #free{
        font-size: 14px;
    }

    #send{
        font-size: 9px;
    }
}

@media (max-width: 593px) {
    
    .texto h1{
        font-size: 32px;
    }

    #free{
        font-size: 12px;
    }
}

@media (max-width: 553px) {
    
      
    main{
        height: 70rem;
        padding: 0;
    }

    .texto h1{
        font-size: 32px;
    }

    #free{
        font-size: 12px;
    }
}

@media (max-width: 534px) {
    
    main{
        height: 60rem;
    }

    #free{
        font-size: 11px;
    }

    .texto h1{
        font-size: 25px;
    }

    .texto p{
        font-size: 12px;
    }
}

@media (max-width: 499px) {
    
    main{
        height: 65rem;
    }

}



